<footer class="footer py-3 mt-auto" style="background-color: #d5f0f9">
    <div class="container-fluid">
        <span
            ><img
                src="https://media.discordapp.net/attachments/1174732472806809660/1176552975259422810/79b1003e-2336-4c4d-97c8-3748827bf4b4_cropped.jpeg?ex=656f4958&is=655cd458&hm=666563e48e3fcec2991665d58bf9f3b5803ddee6508e347c8f2af939432cc35d&="
                alt="MyMovieList Logo"
                height="35.5"
        /></span>
        <br />
        <span style="color: #001b62; font-weight: 600; font-size: 12px"
            >&copy; MyMovieList 2023. All rights reserved.</span
        >
    </div>
</footer>
