<footer class="footer py-3 mt-auto" style="background-color: #d5f0f9">
  <div class="container-fluid">
    <span><img src="/images/logo_cropped.jpeg" alt="MyMovieList Logo" height="35.5" /></span>
    <br />
    <span style="color: #001b62; font-weight: 600; font-size: 12px">&copy; MyMovieList 2023. All rights reserved.</span>
  </div>
</footer>
